.bg-americaVirtual {
  background: #ff6859;
}

.btn-virtual-navbar {
  border: 1px solid white;
  color: white;
}

.btn-virtual {
  color: #ffff;
  background: #ff6859;
}

.btn-virtual:hover {
  border: 1px solid white;
  background: white;
  color: #ff6859;
}
