.b-virtual {
  border-top: 3px solid #ff6859;
}

.color-blue {
  color: #252eb3;
}

.b-blue {
  border-top: 3px solid #0012ff;
}

.btn-virtual {
  color: white;
  background: #ff6859;
}

.font {
  font-weight: 700;
  font-family: sans-serif;
}

.f-bold {
  font-weight: bold;
}

i {
  color: rgb(170, 170, 170);
}
