<div class="container">
  <h2 class="text-center">SERVICIO DEL CLIMA</h2>
  <hr class="b-virtual" />
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center color-blue f-bold">
            Seleccion&aacute; la zona
          </h4>
          <hr class="b-blue" />
          <form action="">
            <div class="form-group">
              <div class="mb-3">
                <label for="pais" class="form-label"> Pa&iacute;s </label>
                <select class="form-control" id="paisSelect">
                  <option value="">Selecciona un pais</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="pais" class="form-label"> Ciudad </label>
                <select class="form-control" id="ciudadSelect">
                  <option value="">Selecciona una ciudad</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-virtual w-100 font">BUSCAR</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center color-blue f-bold">Reporte del Tiempo</h4>
          <hr class="b-blue" />
          <div class="row">
            <div class="col-md-12">
              <p>Argentina</p>
              <h6>Ciudad Autonoma de Buenos Aires</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h5>Viernes</h5>
              <h6>Soleado</h6>
              <h1>22 ° C</h1>
              <p>71.6 °F</p>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <div>
                  <img src="../../../assets/img/Soleado.png" alt="soleado" width="350">
                </div>
                <div>
                  <h6>
                    Prob. de precipitaciones: 0%
                  </h6>
                  <h6>
                    Humerdad: 54%
                  </h6>
                  <h6>
                    Viento: a 10 km/h.
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>