<div class="container">
  <h2 class="text-center">SERVICIO DEL CLIMA</h2>
  <hr class="b-virtual" />
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center color-blue">
            Seleccion&aacute; la zona
          </h5>
          <hr class="b-blue" />
          <form action="">
            <div class="form-group">
              <div class="mb-3">
                <label for="pais" class="form-label"> Pa&iacute;s </label>
                <select class="form-control" id="">
                  <option value="">Selecciona un pais</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="pais" class="form-label"> Ciudad </label>
                <select class="form-control" id="">
                  <option value="">Selecciona una ciudad</option>
                  <option value=""></option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button class="btn btn-virtual w-100 font">BUSCAR</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center color-blue">Reporte de Tiempo</h5>
          <hr class="b-blue" />
        </div>
        <div class="row">
          <div class="mb3">
            <span class="disable"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
