.b-virtual {
  border-top: 3px solid #ff6859;
}

.color-blue {
  color: #6c75e2;
}

.b-blue {
  border-top: 1px solid #6c75e2;
}

.btn-virtual {
  color: white;
  background: #ff6859;
}

.font {
  font-weight: 700;
  font-family: sans-serif;
}
