<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <ul class="nav">
            <li class="nav-list d-inline-block">
              <h2 class="text-center color-blue">
                Lunes
              </h2>
              <img src="../../../assets/img/algonublado.png" alt="algonublado" width="210">
              <div class="mt-5">
                <h3 class="text-center">
                  22 °C
                </h3>
                <h3 class="text-center">
                  71 . 6 ° F
                </h3>
              </div>
            </li>
            <li class="nav-list d-inline-block b-left">
              <h2 class="text-center color-blue">
                Martes
              </h2>
              <img src="../../../assets/img/nublado.png" alt="" width="210">
              <div class="mt-5">
                <h3 class="text-center">
                  22 °C
                </h3>
                <h3 class="text-center">
                  71 . 6 ° F
                </h3>
              </div>
            </li>
            <li class="nav-list d-inline-block b-left">
              <h2 class="text-center color-blue">
                Miercoles
              </h2>
              <img src="../../../assets/img/Lluvia.png" alt="" width="210">
              <div class="mt-5">
                <h3 class="text-center">
                  22 °C
                </h3>
                <h3 class="text-center">
                  71 . 6 ° F
                </h3>
              </div>
            </li>
            <li class="nav-list d-inline-block b-left">
              <h2 class="text-center color-blue">
                Jueves
              </h2>
              <img src="../../../assets/img/tormenta.png" alt="" width="210">
              <div class="mt-5">
                <h3 class="text-center">
                  22 °C
                </h3>
                <h3 class="text-center">
                  71 . 6 ° F
                </h3>
              </div>
            </li>
            <li class="nav-list d-inline-block b-left">
              <h2 class="text-center color-blue">
                Viernes
              </h2>
              <img src="../../../assets/img/nieve.png" alt="" width="210">
              <h3 class="text-center">
                22 °C
              </h3>
              <h3 class="text-center">
                71 . 6 ° F
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>