<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="d-inline-block ml-3 mr-4">
            <h2>Lunes</h2>
          </div>
          <div class="d-inline-block">
            <h2>Martes</h2>
          </div>
          <div class="d-inline-block">
            <h2>Miercoles</h2>
          </div>
          <div class="d-inline-block">
            <h2>Jueves</h2>
          </div>
          <div class="d-inline-block">
            <h2>Viernes</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
